<div class="modal hide fade report-abusive-content" data-entity_type="comment">
  <div class="modal-header"><button class="close" data-dismiss="modal" type="button">&times;</button>
    <h3>Reason for flagging</h3>
  </div>
  <form action="/n/flag"><input name="id" type="hidden" /><input name="entity_type" type="hidden" /><input name="authenticity_token" type="hidden" value="<%= @form_authenticity_token %>" />
    <div class="control-group">
      <div class="controls">
        <label><select name="flag_type">
            <optgroup>
              <option value="couch_request">A Couchrequest</option>
              <option value="website_feedback">Website Feedback</option>
              <option value="off_topic">Off-Topic</option>
            </optgroup>
            <optgroup>
              <option value="commercial_or_spam">Commercial Content and Spam</option>
              <option value="dating_or_sexual">Dating/Inappropriate Sexual Content</option>
              <option value="abusive_or_illegal">Abusive or Illegal Content</option>
              <option value="privacy_breach">Shows my Contact/Protected Information</option>
            </optgroup>
          </select><span>&nbsp;</span></label>
      </div>
      <p class="help-block"></p>
    </div>
    <div class="actions"><input class="btn btn-primary" name="submit" type="submit" value="Flag" /><a class="cancel btn" data-dismiss="modal" href="javascript://">Cancel</a></div>
  </form>
</div>
