<div class="modal hide fade remove-thread-modal">
  <div class="modal-header"><button class="close" data-dismiss="modal" type="button">&times;</button>
    <h3>
      <div>Remove?</div>
    </h3>
  </div>
  <div class="modal-body">
    <div>Please confirm you want to delete this comment</div>
    <br />
    <br />
    <div class="actions"><a class="confirm btn btn-danger" href="javascript://">Confirm</a>&nbsp;<a class="cancel btn" data-dismiss="modal" href="javascript://">Cancel</a></div>
  </div>
</div>
