<div class="modal hide fade remove-thread-modal">
  <div class="modal-header"><button class="close" data-dismiss="modal" type="button">&times;</button>
    <h3>
      <div><%= t('comment.remove.title') %></div>
    </h3>
  </div>
  <div class="modal-body">
    <div><%= t('comment.remove.confirm') %></div>
    <br />
    <br />
    <div class="actions"><a class="confirm btn btn-danger" href="javascript://"><%= t('comment.remove.confirm_button') %></a>&nbsp;<a class="cancel btn" data-dismiss="modal" href="javascript://"><%= t('buttons.cancel') %></a></div>
  </div>
</div>
