                      <section>
                        <div class="sidebar-list">
                          <div class="holder_header">
                            <div class="pull-left">
                              <h3>Email Digests</h3>
                            </div>
                          </div>
                          <div class="entity-subscription">
                            <div class="entity-subscription-form-container">
                              <form><input name="authenticity_token" type="hidden" value="NIb6h37CJL+GGUrGEHsnV7OHi0ZPnhIqka3PVAXaPOE=" /><input name="subscribed_on_id" type="hidden" value="13" /><input name="subscribed_on_type" type="hidden" value="place" />
                                <p>How much email would you like to receive related to this place?</p>
                                <ul class="medias">
                                  <li class="media radio_input">
                                    <% @subscription_options.each do |subscription_option| %>
                                      <div class="control-group">
                                        <div class="controls">
                                          <label><input class="subscription_type" name="subscription_type" type="radio" value="<%= subscription_option.lkey %>" /><span>&nbsp;<strong><%= subscription_option.name %></strong>
   <%= subscription_option.detail %></span></label>
                                        </div>
                                        <p class="help-block"></p>
                                      </div>
                                    <% end %>
                                  </li>
                                </ul>
                                <button class="btn btn-primary">Change Subscription</button><span class="cancel">cancel</span><span class="unfollow icon-heart-broken icon-large"> unfollow</span>
                                <div class="entity-subscription-loading"></div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </section>
