<div id="hidden-content">
        <div class="modal_window hide fade event_modal_container new_event_form" data-backdrop="static" data-keyboard="false" id="event_form_modal" title="i18n_events_add_new">
          <header class="modal_header">
            <h3 class="modal_title clearfix"><span class="title_text">i18n_events_add_new</span><a class="modal_close" data-dismiss="modal" href="#">Cancel</a></h3>
          </header>
          <div class="modal_body">
            <%= render :partial => "#{@partial_base}/create_event_form" %>
          </div>
          <footer class="modal_footer">            <div class="ajax_loading_container"></div>
            <a class="action_button button prev_page disabled_until_load" href="#" id="73cf55f0f71f06a51d5ff1b5a66ca1cf8201ffc5" title="Back">Back</a>
            <script type="text/javascript">
// <![CDATA[
  (function () {
    var button = $("#73cf55f0f71f06a51d5ff1b5a66ca1cf8201ffc5");
    button.on("click", function (e) { e.preventDefault(); });
    $.subscribe("jsload", function () {
      button.removeClass("disabled_until_load");
    });
  })();
// ]]>
            </script>

<a class="primary_action_button button submit_btn new_submit_btn disabled_until_load" href="#" id="7f1998f6b3b3f70801ebb84a23493e5b900fdf37" title="Save Event">Save Event</a>
            <script type="text/javascript">
// <![CDATA[
  (function () {
    var button = $("#7f1998f6b3b3f70801ebb84a23493e5b900fdf37");
    button.on("click", function (e) { e.preventDefault(); });
    $.subscribe("jsload", function () {
      button.removeClass("disabled_until_load");
    });
  })();
// ]]>
            </script>

<a class="primary_action_button button next_page disabled_until_load" href="#" id="a61726a26c5837d2081a322e322d6bbeeef98142" title="Next">Next</a>
            <script type="text/javascript">
// <![CDATA[
  (function () {
    var button = $("#a61726a26c5837d2081a322e322d6bbeeef98142");
    button.on("click", function (e) { e.preventDefault(); });
    $.subscribe("jsload", function () {
      button.removeClass("disabled_until_load");
    });
  })();
// ]]>
            </script>

</footer>
        </div>
        <div class="modal_window hide fade other_events_modal past_events_modal" id="past_events_modal" title="Past Events">
          <header class="modal_header">
            <h3 class="modal_title clearfix"><span class="title_text">Past Events</span><a class="modal_close" data-dismiss="modal" href="#">Cancel</a></h3>
          </header>
          <div class="modal_body"><img class="ajax_loading" src="/assets/loading_loop.gif" /></div>
          <footer class="modal_footer">&#160;</footer>
        </div>
        <div class="modal_window hide fade" id="alert_modal">          <header class="modal_header"><a class="modal_close" data-dismiss="modal" href="#">Cancel</a></header>
          <div class="modal_body"></div>
        </div>
      </div>
    </div>
    <div id="preloaded_ajax_loading_container">
      <div class="ajax_loading_loop"></div>
      <a class="action_button button loading" href="#"></a></div>
