            <li class="nav_button"><a <% if place_subnav_button.followed %>
                class="followed"
                <% end %>
                href="<%= place_subnav_button.link %>"><%= place_subnav_button.title %></a></li>
